.div {
    padding-left: 100px;
    padding-right: 100px;
}

ul li a {
  text-decoration: none;
}


  @media (max-width: 1200px){
    .div {
        padding-left: 5px;
        padding-right: 5px;
    }
  }