.text_dostavka{
    font-size: 52px;
    font-weight: 500;
    margin-right: 35px;
}





.glavniy{
    color:rgba(66, 57, 57, 0.297);
    

}

.text_glavniy{
    font-size: 16px;
    transform: translateY(25px);
    overflow-x: hidden;
}

.dostavka_glavniy{
    width: 100%;
    margin: auto;
    padding-left: 120px;
   

}

.image_title{
    width: 100%;
    height: 800px;
    margin-bottom: 120px;
}


.cartochka_card_one_to_one{
    width: 840px;
    height: 610px;
    background-color: #F9F9F9;
    padding: 50px;
    
}


.image_title_icon{
    margin-right: 25px;
}

.cartochka_content_text{
    display: flex;
    padding: 12px;
}

.cartochka_category{
    margin-right: 100px;
}

.cartochka_param{
    font-size: 22px;
    font-weight: 500;
    margin-top: 50px;
    
}

.text_cartochk_name{
    font-size: 18px;
    font-weight: 500;
}

.cartochka_number{
    font-size: 18px;
    font-weight: 350;
}


.cartochka_card_one{
    margin-top: 120px;
    margin-bottom: 120px;
}


.design_text{
    font-size: 48px;
    font-weight: 500;
    line-height: 60px;
    margin-bottom: 40px;
}

.design_text_number{
    font-size: 18px;
    font-weight: 350;
    line-height: 26px;
    margin-bottom: 40px;
}

.opti_text{
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
}

.dali_text{
    font-size: 18px;
    font-weight: 350;
    line-height: 26px;
}

.btn_button_design{
    width: 400px;
    height: 80px;
    margin-right: 20px;
    border: 2px solid black;
    border-radius: 6px;
    background-color: white;
    
}


.btn_button_design:hover{
    background-color: green;
    color: white;
}

.cartochka_card_one{
    display: flex;
    font-size: 20px;
    font-weight: 350;
}
.modif_text{
    font-size: 20px;
   
    
}

.cartochka_text_design{
    margin-left: 40px;
}


.image_kartochka{
    width: 1027px;
    height: 600px;
    background-color: #F9F9F9;
    border-radius: 6px;

}

.standart_text{
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
    margin-bottom: 30px;
}

.kartochka_naklad{
   font-size: 24px;
   font-weight: 500; 
   line-height: 24px;
   margin-bottom: 20px;
}

.card_kartochka_dublikat{
    display: flex;
}

.standart_title{
    margin-top: 100px;
    margin-left: 200px;
}

.nastaeniya{
    font-size: 18px;
}

.resheniya{
    font-size: 48px;
  margin-bottom: 30px;
}

.svet_name{
    font-size: 24px;
    font-weight: 350;
    line-height: 30px;
    margin-bottom: 50px;
}

.standart_text{
    font-size: 24px;
    font-weight: 350;
    line-height: 24px;
}

.svetovoy_couple{
   display: flex;
    background-color: #F9F9F9;
    padding: 70px;
    margin-top: 100px;
   transform: translateX(-120px);
    margin-bottom: 100px;
    
}

.double3_image{
    width: 1012px;
    height: 500px;
    margin-left: 100px;
}

.svet_image{
    width: 519px;
    height: 414px;
    z-index: -1;
    position: absolute;
    
}

.text_tepliy{
    transform: translate(200px,300px);
}

.tepliy_text{
    font-size: 32px;
    font-weight: 500;
    color: white;
}

.tepliy_couple{
   
    z-index: 0;
    position: relative;
    
   
}

.card_display{
width: 100%;
background-color: green;
}




.card_svet_couple{
    background-color: #484848;
    display: flex;
    z-index: -1;
    position: relative;
    transform: translateX(-50px);
   
}

.image_couple_three{
    width: 519px;
    height: 414px;
}

.text_text_svet{
   margin-left: 250px;
   margin-top: 300px;
   
}

.three_svet{
    color: white;
    font-size: 24px;
}



.image_title_tiktok{
    width: 1573px;
    height: 500px;
    
}

.cartochka_icon_couple{
    display: flex;
}

.double_couple{
    display: flex;
}

.footer{
    transform: translateX(-50px);
}