<app-navbar></app-navbar>


<div class="dostavka_glavniy">
    <div class="container_dostavka">
        <p class="text_glavniy"><span class="glavniy">Главная</span> —  Каталог  —  HTL BUSINESS  —  Дизайнерский светодиодный светильник Tria OFL</p>
  <div class="dostavka_text_three">
    <p class="text_dostavka dostavke">Назад к каталогу</p>


    
    
</div>
</div>

</div>
<img src="/assets/nazad.png" class="image_title" alt="">


<div class="dostavka_glavniy">
    <div class="container_dostavka">
     
        <div class="card_name_cartochka">
            <div class="cartochka_card_one">
             <div class="cartochka_card_one_to_one">
                   <div class="cartochka_icon_couple">
                    <img src="/assets/cart4.png" class="image_title_icon" alt="">
                    <img src="/assets/cart3.png" class="image_title_icon" style="background-color: black;" alt="">
                    <img src="/assets/cart2.png" class="image_title_icon" alt="">
                    <img src="/assets/cart1.png"  class="image_title_icon" alt="">
                   </div>
                   <p class="cartochka_param">Основные параметры</p>

                   <div class="cartochka_content_text">
                 <div class="cartochka_category">
                    <p class="text_cartochk_name">Мощность, Вт:</p>
                    <p class="cartochka_number">65-220</p>
                 </div>
                 <div class="cartochka_category">
                    <p class="text_cartochk_name">Срок службы:</p>
                    <p class="cartochka_number">> 50 000 ч</p>
                 </div>
                 <div class="cartochka_category">
                    <p class="text_cartochk_name">Тип крепления:</p>
                    <p class="cartochka_number">Накладной/подвесной</p>
                 </div>
                   </div>

                   <div class="cartochka_content_text">
                    <div class="cartochka_category">
                       <p class="text_cartochk_name">CСТ, К</p>
                       <p class="cartochka_number">2700-6500</p>
                    </div>
                    <div class="cartochka_category">
                       <p class="text_cartochk_name">CRI:</p>
                       <p class="cartochka_number">80/90</p>
                    </div>
                    <div class="cartochka_category">
                       <p class="text_cartochk_name">Защита, IP:</p>
                       <p class="cartochka_number">40</p>
                    </div>
                      </div>

             </div>

             
             <div class="cartochka_text_design">
               <p class="design_text">Дизайнерский <br> светодиодный светильник</p>
               <p class="design_text_number">Даёт мягкое рассеянное освещение, которое достагиается благодаря опаловому <br> рассеивателю, выполненного из стабилизированного поликарбоната, не <br> желтеющего от UV-излучения. Корпус светильника выполняется из <br> анодированного алюминиевого профиля с возможной высотой 50 или 80мм.</p>
             <p class="opti_text">Возможные опции</p>
             <p class="dali_text">Управление по протоколу DALI <br>
               Управление 0-10V <br>
               Система TUNABLE WHITE 2700-6500K (смена диапозона свечения <br> от теплого до холодного)  <br>
               Оснащение  блоком аварийного питания</p>
               <div class="btn_button">
                  <button class="btn_button_design"><span class="modif_text">Выбор модификаций</span></button>
                  <button class="btn_button_design"><span class="modif_text">Где купить?</span></button>
               </div>
            </div>


            </div>
        </div>

    </div>
 
</div>


<img src="/assets/kartochka.png" alt="" class="image_title">


<div class="dostavka_glavniy">
   <div class="container_dostavka">
    
<div class="card_kartochka_dublikat">
   <div class="card_kartochka_image">
      <img src="/assets/dublikat.png" alt="" class="image_kartochka">
   </div>

   <div class="standart_title">
      <p class="standart_text">Стандартные <br> типы крепления</p>
     <p class="kartochka_naklad">Накладной потолочный</p>
     <p class="nastaeniya">Накладной настенный</p>
     <p class="nastaeniya">Подвесной на троссовом подвесе</p>
     <p class="nastaeniya">Подвесной на резьбовые шпильки м4</p>


   </div>


</div>

 
<div class="dostavka_glavniy">
   <div class="container_dostavka">
    

<div class="svetovoy_couple">

   <div class="svetovoy_couple_text">
      <p class="resheniya">Цветовое решение</p>
      <p class="svet_name">Цвет корпуса светильника может быть выполнен <br> в индивидуальном окрашивании по шкале RAL</p>
    <p class="standart_text">Стандартные цвета корпуса</p>
    <div class="double_couple">
      <img src="/assets/double.png" alt="" class="double_image">
      <img src="/assets/double2.png" alt="" class="double_image">
      <img src="/assets/double2.png" alt="" class="double_image">
      <img src="/assets/double2.png" alt="" class="double_image">
      <img src="/assets/double2.png" alt="" class="double_image">
      <img src="/assets/double2.png" alt="" class="double_image">
    </div>
   </div>
   <img src="/assets/double3.png" alt="" class="double3_image">

</div>


   </div>

</div> 




<div class="card_svet_couple">
   <div class="image_couple_three">
      <img src="/assets/svet.png" alt="" class="svet_image">
      <div class="text_text_svet">
         <p class="three_svet">3000K</p>
         <p class="svet_text">теплый свет</p>
      </div>
   </div>

   <div class="image_couple_three">
      <img src="/assets/svet2.png" alt="" class="svet_image">
      <div class="text_text_svet">
         <p class="three_svet">3000K</p>
         <p class="svet_text">теплый свет</p>
      </div>
   </div>

   <div class="image_couple_three">
      <img src="/assets/svet3.png" alt="" class="svet_image">
      <div class="text_text_svet">
         <p class="three_svet">3000K</p>
         <p class="svet_text">теплый свет</p>
      </div>
   </div>

   <div class="image_couple_three">
      <img src="/assets/svet4.png" alt="" class="svet_image">
      <div class="text_text_svet">
         <p class="three_svet">3000K</p>
         <p class="svet_text">теплый свет</p>
      </div>
   </div>
</div>

 

   
<div class="footer">
   <app-footer></app-footer>
</div>