<div class="main" style="margin: 0 auto;width: 77%;">
    <div class="main-in">
        <p style="margin-top: 30px;"><span style="color: gray;">Главная</span> —  Защита проекта</p>
        <div class="tit">
            <h1 class="h1" style="font-weight: 700;margin-top: 30px;">Защита проекта</h1>
            <p class="p" style="margin-top: 40px;">HTL заинтересована в установлении долгосрочных взаимовыгодных отношений со своими контрагентами и предлагает своим дилерам услугу  по защите проектов, которая закрепляет специальные условия по проекту  за участвующим в нем контрагентом-поставщиком оборудования HTL</p>
        </div>
        
        <div class="tit" style="margin-top: 50px;">
            <div class="tit-left" style="margin-bottom: 50px;">
                <h1  style="font-weight: 700;margin-top: 100px;"><span style="color: blue;">6 месяцев</span> - базовый срок защиты проекта</h1>
                <p style="margin-top: 30px;">В зависимости от статуса работ по проекту и проведенной контрагентом работы по продвижению продукции «HTL» возможно продление сроков защиты, а также представление дополнительных проектных скидок</p>
                <button style="padding: 20px;background-color: blue;color: #fff;border-radius: 10px;width: 300px;margin-top: 40px;">Заказать звонок</button>
            </div>
            <div class="tit-right" style="padding: 20px;background-color: #F5F5F5;margin-bottom: 50px;margin-top: 70px;">
                
<div id="accordion-flush" data-accordion="collapse" data-active-classes="bg-white dark:bg-gray-900 text-gray-900 white:text-dark" data-inactive-classes="text-gray-500 dark:text-gray-400">
    <h2 id="accordion-flush-heading-1" style="background-color: gray;">
      <button type="button" class="flex items-center justify-between w-full py-3 font-medium text-blue-500 border-b border-gray-200 dark:border-gray-700 gap-3" data-accordion-target="#accordion-flush-body-1" aria-expanded="true" aria-controls="accordion-flush-body-1" style="background-color: #F5F5F5 !important;color: black;">
        <span style="font-size: 20px;">Cотрудничество по зарегистрированному проекту</span>
        <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
        </svg>
      </button>
    </h2>
    <div id="accordion-flush-body-1" class="hidden" aria-labelledby="accordion-flush-heading-1">
      <div class="py-5 border-b border-gray-200 dark:border-gray-700">
        <p class="text-gray-500 dark:text-gray-400">приоритетные сроки поставки продукции;</p>
        <p class="text-gray-500 dark:text-gray-400">возможность предоставления специальных условий в рамках проекта;</p>
        <p class="text-gray-500 dark:text-gray-400">оказание технической и информационной поддержки</p>
      </div>
    </div>
    <h2 id="accordion-flush-heading-2" style="background-color: gray;">
        <button type="button" class="flex items-center justify-between w-full py-3 font-medium text-blue-500 border-b border-gray-200 dark:border-gray-700 gap-3" data-accordion-target="#accordion-flush-body-1" aria-expanded="true" aria-controls="accordion-flush-body-1" style="background-color: #F5F5F5 !important;color: black;">
          <span style="font-size: 20px;">Для защиты проекта</span>
          <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
          </svg>
        </button>
      </h2>
      <div id="accordion-flush-body-2" class="hidden" aria-labelledby="accordion-flush-heading-1">
        <div class="py-5 border-b border-gray-200 dark:border-gray-700">
          <p class="text-gray-500 dark:text-gray-400">приоритетные сроки поставки продукции;</p>
          <p class="text-gray-500 dark:text-gray-400">возможность предоставления специальных условий в рамках проекта;</p>
          <p class="text-gray-500 dark:text-gray-400">оказание технической и информационной поддержки</p>
        </div>
      </div>
      <h2 id="accordion-flush-heading-3" style="background-color: gray;">
        <button type="button" class="flex items-center justify-between w-full py-3 font-medium text-blue-500 border-b border-gray-200 dark:border-gray-700 gap-3" data-accordion-target="#accordion-flush-body-1" aria-expanded="true" aria-controls="accordion-flush-body-1" style="background-color: #F5F5F5 !important;color: black;">
          <span style="font-size: 20px;">Комплекс работ для защиты проекта</span>
          <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
          </svg>
        </button>
      </h2>
      <div id="accordion-flush-body-3" class="hidden" aria-labelledby="accordion-flush-heading-1">
        <div class="py-5 border-b border-gray-200 dark:border-gray-700">
          <p class="text-gray-500 dark:text-gray-400">приоритетные сроки поставки продукции;</p>
          <p class="text-gray-500 dark:text-gray-400">возможность предоставления специальных условий в рамках проекта;</p>
          <p class="text-gray-500 dark:text-gray-400">оказание технической и информационной поддержки</p>
        </div>
      </div>
  </div>
  
            </div>
        </div>
    </div>
</div>