.number_sidebar{
    margin-left: 50px;
}

a{
    text-decoration: none;
}

.text_filter{
    font-size: 28px;
    font-weight: 500;
}

span{
    font-weight: 350;
}

.busines{
    font-weight: 500;
}

.text_filter_text{
    font-size: 18px;
    font-weight: 500;
}

.text_label{
    margin-right: 147px;
}

.text_label_nak{
    margin-right: 155px;
}

.moshnosti_button{
    width: 120px;
    height: 30px;
    border: 1px solid black;
    opacity: 0.3;
    margin-top: 10px;
}

.text_number_number{
    margin-left: 180px;
 
}

.fixed{
    width: 400px;
}

.text_filter_text_temp{
    font-size: 20px;
    font-weight: 500;
}

.chek_tap{
    margin-left: 120px;
}

.grid_text{
    margin-right: 30px;
}

.grid_text{
    width: 400px;
    height: 400px;
    margin-left: 140px;
}

