<div class="main">
    <p style="padding-top: 20px;"><span style="color: gray;padding-left: 15px;">Главная</span> —  Контакты</p>
    <h2 class="product-category">Контакты</h2>
    <div class="categories">
        <div class="categories-in">
            <p>Телефон</p>
            <h1> +7 (495) 125-10-07</h1>
        </div>
        <div class="categories-in">
            <p>Электронная почта</p>
            <h1>info&#64;h-t-l.ru</h1>
        </div>
        <div class="categories-in">
            <p>Сервисный центр</p>
            <h1>service&#64;h-t-l.ru</h1>
        </div>
        <div class="categories-in">
            <p>Дилерский центр</p>
            <h1>cooperation&#64;h-t-l.ru</h1>
        </div>
        <div class="categories-in">
            <p>Центральный офис</p>
            <h1>г. Москва, 2-ой Рощинский проезд, д.8</h1>
        </div>
        <div class="categories-in">
            <p>Склад</p>
            <h1>г. Москва, Нагорный проезд, д.7 стр.13</h1>
        </div>
    </div>
</div>
<img src="assets/images/Rectangle 891.png" alt="">
<div class="main">
    <div class="contact">
        <div class="contact-left">
            <h1>Задать вопрос или обратиться за услугой</h1>
        </div>
        <div class="contact-right">
            <form action="#" method="post">
                <div class="column">
                  <label for="the-name">Your Name</label>
                  <input type="text" name="name" id="the-name">
              
                  <label for="the-email">Email Address</label>
                  <input type="email" name="email" id="the-email">
              
                  <label for="the-phone">Phone Number</label>
                  <input type="tel" name="phone" id="the-phone">
                </div>
                <div class="column">
                  <label for="the-message">Message</label>
                  <textarea name="message" id="the-message"></textarea>
                </div>
                <label style="display: block;">
                <input type="checkbox" name="newsletter"> Join our mailing list?
                </label>
                <input type="submit" value="Send Message">
              </form>
        </div>
    </div>
</div>