.contain {
    display: flex;
    margin-bottom: 50px;
}
.img {
    width: 50%;
}
.img img {
    height: 100%;
}
.texts {
    width: 50%;
    padding: 20px 40px 20px 40px;
    margin-bottom: 50px;
}
.texts h1 {
    font-size: 30px;
    font-weight: 700;
}
.texts p {
    font-size: 15px;
}
.texts button {
    margin-top: 20px;
    padding: 20px 60px 20px 60px;
    background-color: green;
    border-radius: 5px;
    color: #fff;
}

@media (max-width: 70rem) {
    .contain {
        display: block;
    }
    .img {
        width: 100%;
    }
    .texts {
        width: 100%;
    }
  }

  
.contact {
    display: block;
}

.contact-left {
    margin-top: 100px;
    float: left;
    width: 35%;
    height: 100%;
}

.contact-left h1{
    text-align: left;
    width: 80%;
    font-weight: 650;
    font-size: 31px;
}
.contact-right {
    display: inline-block;
    width: 65%;
}

@media screen and (max-width:56rem) {
    .contact-left {
        float: none;
        display: block;
        width: 100%;
    }
    .contact-left h1{
        text-align: center;
        width: 100%;
    }
    .contact-right {
        display: flex;
        width: 100%;
        justify-content: center;
    }
}

form {
    margin-top: 60px;
    margin-bottom: 80px;
}

label{
    display:block;
    margin:1em 0 .2em;
  }
  /* single-line text, checkbox, and button */
  input, select, textarea{
    display:block;
    width:100%;
    padding:.3em;
    font-size:20px;
    background-color:#fbfbfb;
    border:solid 1px #CCC;
    resize:vertical;
    border-radius: 3%;
  }
  textarea{
    min-height:200px;
  }
  select{
    color:indigo;
  }
  option{
    color:blue;
    background: lavenderBlush;
  }
  input[type=checkbox]{
    display:inline;
    width:auto;
    color:red;
  }
  
  input[type=submit]{
    margin:1em 0 0;
    color:white;
    border:none;
    border-radius:8px;
    transition:all .3s ease-out;
    background-color: blue;
    margin-left: 15px;
    padding: 10px;
  }
  

  input[type=checkbox] {
    margin-left: 15px;
  }
  
  @media screen and (min-width:700px) {
    /*  make the form 2 columns */
    form:after{
      content:'';
      display:block;
      clear:both;
    }
    .column{
      width:50%;
      padding:1em;
      float:left;
    }
  }