<div class="m" style="margin: 0 auto;width: 77%;">
    <div class="main-in">
        <p style="margin-top: 30px;"><span style="color: gray;">Главная</span> —  Дилерам</p>
        <h1 class="h1" style="font-weight: 700;margin-top: 30px;">Дилерам</h1>
        <div class="tit">
            <p class="p" style="margin-top: 40px;">HTL заинтересована в установлении долгосрочных взаимовыгодных отношений со своими контрагентами и предлагает своим дилерам услугу  по защите проектов, которая закрепляет специальные условия по проекту  за участвующим в нем контрагентом-поставщиком оборудования HTL</p>
        </div>
    </div>
</div>

<div class="main" style="height: auto;">
    <ul class="cards" style="margin-bottom: 50px;">
      <li class="cards_item">
        <div class="card">
          <div class="card_content">
            <hr style="margin-top: 30px;">
              <p style="font-size: 20px;color: gray;margin-top: 50px;">02. </p>
              <h2 class="card_title" style="font-size: 23px;">Концепция освещения</h2>
            <p class="card_text" style="margin-top: 50px;">стетически привлекательный светодизайн и комфортные условия для работы и отдыха с учетом характера окружающей среды, а также влияния на эмоции и настроение людей</p>
        </div>
      </div>
    </li>
    <li class="cards_item">
        <div class="card">
          <div class="card_content">
            <hr style="margin-top: 30px;">
              <p style="font-size: 20px;color: gray;margin-top: 50px;">02. </p>
              <h2 class="card_title" style="font-size: 23px;">Концепция освещения</h2>
            <p class="card_text" style="margin-top: 50px;">стетически привлекательный светодизайн и комфортные условия для стетически привлекательный светодизайн и комфортные условия для стетически привлекательный светодизайн и комфортные условия для работы и отдыха с учетом характера окружающей среды, а также влияния на эмоции и настроение людей</p>
        </div>
      </div>
    </li>
    <li class="cards_item" style="height: auto;">
        <div class="card" style="height: auto;">
          <div class="card_content" style="height: auto;">
            <hr style="margin-top: 30px;">
              <p style="font-size: 20px;color: gray;margin-top: 50px;">02. </p>
              <h2 class="card_title" style="font-size: 23px;">Концепция освещения</h2>
            <p class="card_text" style="margin-top: 50px;">стетически привлекательный светодизайн и комфортные условия для работы и отдыха с учетом характера окружающей среды, а также влияния на эмоции и настроение людей</p>
        </div>
      </div>
    </li>
    <li class="cards_item">
        <div class="card">
          <div class="card_content">
            <hr style="margin-top: 30px;">
              <p style="font-size: 20px;color: gray;margin-top: 50px;">02. </p>
              <h2 class="card_title" style="font-size: 23px;">Концепция освещения</h2>
            <p class="card_text" style="margin-top: 50px;">стетически привлекательный светодизайн и комфортные условия для стетически привлекательный светодизайн и комфортные условия для стетически привлекательный светодизайн и комфортные условия для работы и отдыха с учетом характера окружающей среды, а также влияния на эмоции и настроение людей</p>
        </div>
      </div>
    </li>
    <li class="cards_item" style="height: auto;">
        <div class="card" style="height: auto;">
          <div class="card_content" style="height: auto;">
            <hr style="margin-top: 30px;">
              <p style="font-size: 20px;color: gray;margin-top: 50px;">02. </p>
              <h2 class="card_title" style="font-size: 23px;">Концепция освещения</h2>
            <p class="card_text" style="margin-top: 50px;">стетически привлекательный светодизайн и комфортные условия для работы и отдыха с учетом характера окружающей среды, а также влияния на эмоции и настроение людей</p>
        </div>
      </div>
    </li>
    <li class="cards_item">
        <div class="card">
          <div class="card_content">
            <hr style="margin-top: 30px;">
              <p style="font-size: 20px;color: gray;margin-top: 50px;">02. </p>
              <h2 class="card_title" style="font-size: 23px;">Концепция освещения</h2>
            <p class="card_text" style="margin-top: 50px;">стетически привлекательный светодизайн и комфортные условия для стетически привлекательный светодизайн и комфортные условия для стетически привлекательный светодизайн и комфортные условия для работы и отдыха с учетом характера окружающей среды, а также влияния на эмоции и настроение людей</p>
        </div>
      </div>
    </li>
    <li class="cards_item">
        <div class="card">
          <div class="card_content">
            <hr style="margin-top: 30px;">
              <p style="font-size: 20px;color: gray;margin-top: 50px;">02. </p>
              <h2 class="card_title" style="font-size: 23px;">Концепция освещения</h2>
            <p class="card_text" style="margin-top: 50px;">стетически привлекательный светодизайн и комфортные условия для стетически привлекательный светодизайн и комфортные условия для стетически привлекательный светодизайн и комфортные условия для работы и отдыха с учетом характера окружающей среды, а также влияния на эмоции и настроение людей</p>
        </div>
      </div>
    </li>
    <li class="cards_item" style="height: auto;">
        <div class="card" style="height: auto;">
          <div class="card_content" style="height: auto;">
            <hr style="margin-top: 30px;">
              <p style="font-size: 20px;color: gray;margin-top: 50px;">02. </p>
              <h2 class="card_title" style="font-size: 23px;">Концепция освещения</h2>
            <p class="card_text" style="margin-top: 50px;">стетически привлекательный светодизайн и комфортные условия для работы и отдыха с учетом характера окружающей среды, а также влияния на эмоции и настроение людей</p>
        </div>
      </div>
    </li>
    <li class="cards_item">
        <div class="card">
          <div class="card_content">
            <hr style="margin-top: 30px;">
              <p style="font-size: 20px;color: gray;margin-top: 50px;">02. </p>
              <h2 class="card_title" style="font-size: 23px;">Концепция освещения</h2>
            <p class="card_text" style="margin-top: 50px;">стетически привлекательный светодизайн и комфортные условия для стетически привлекательный светодизайн и комфортные условия для стетически привлекательный светодизайн и комфортные условия для работы и отдыха с учетом характера окружающей среды, а также влияния на эмоции и настроение людей</p>
        </div>
      </div>
    </li>
    </ul>
  </div>

  


  <div class="footer-top" style="width: 100%;">
    <div class="footer-top-in" style="width: 78%;margin: 0 auto;padding-top: 30px;padding-bottom: 30px;">
        <div class="footer-top-inn text">
            <div class="text-in">
                <h1 style="margin-top: 60px;">Личный кабинет дилера</h1>
                <p>Закладывайте оборудование в проекты и получайте  за это вознаграждение</p>
                <div class="but">
                    <div class="buttons">
                        <button style="margin-top: 50px;">Войти</button>
                        <button class="btn2" style="background-color: green;margin-bottom: 30px;">Регистрация</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-top-inn right">
            <img src="assets/images/Free_MacBook_Pro_3 1.png" alt="" style="margin-bottom: 50px;">
        </div>
    </div>
    <div style="width: 100%;height: 1px;background-color: #fff;"></div>
  </div>