<app-navbar></app-navbar>

<div class="dostavka_glavniy">
    <div class="container_dostavka">
        <p class="text_glavniy"><span class="glavniy">Главная</span>  —  Проекты —  Офис компании VOGT MEDICAL</p>
  <div class="dostavka_text_three">
    <p class="text_dostavka dostavke">Офис компании МодульБанк</p>


    <img src="/assets/rasm.jpg" class="image_title" alt="">


    <div class="proyekt_card px-2 mt-4 gap-3" id="filterable-cards">
        <div class=" card_name p-0" data-name="nature">
          <img src="assets/rasm2.png" alt="img" class="image_proyekt">
         
        </div>
      
  
        <div class="card_name p-0" data-name="nature">
          <img src="assets/rasm2.png" alt="img" class="image_proyekt">
         
        </div>
      
  
        <div class="card_name p-0" data-name="nature">
          <img src="assets/rasm2.png" alt="img" class="image_proyekt">
         
        </div>
      
        <div class="card_name p-0" data-name="nature">
          <img src="assets/rasm2.png" alt="img" class="image_proyekt">
         
        </div>
      
        <div class="card_name p-0" data-name="nature">
          <img src="assets/rasm2.png" alt="img" class="image_proyekt">
         
        </div>
      
        <div class="card_name p-0" data-name="nature">
          <img src="assets/rasm2.png" alt="img" class="image_proyekt">
        
        </div>
      
      
       
        <div>

       
   
        <p class="text_dostavka dostavke">Другие проекты</p>


        <div class="park_container">

         <app-detail-carausel></app-detail-carausel>
       
  

        </div>

        </div>
       
  
  
  
    </div>




  </div>

</div>
</div>

<app-footer></app-footer>