<div class="main">
    <p style="padding-top: 20px;"><span style="color: gray;padding-left: 15px;">Главная</span> —  Услуги</p>
    <h2 class="product-category">Услуги</h2>
</div>
<div class="img">
    <img src="assets/images/uslugi-main-img.png" style="width: 100%;" alt="">
    <div class="img-card">
        <div class="img-in-card">
            <p>Независимо от сложности проекта мы подбираем новейшее светотехническое оборудование высокого качества, рассчитанное на <span style="font-weight: 700;">долгосрочную</span> эксплуатацию. </p>
            <br>
            <p>Узнайте больше по телефону: <span style="font-weight: 700;">+7 (495) 125-10-07</span></p>
        </div>
    </div>
</div>
<div class="main" style="height: auto;">
    <div class="categories" style="margin-top: 70px;">
        <a href="#">Проектирование</a>
        <a href="#">Подбор оборудования</a>
        <a href="#">Монтажные работы</a>
    </div>
    <ul class="cards" style="margin-bottom: 50px;">
      <li class="cards_item">
        <div class="card">
          <div class="card_content">
            <hr style="margin-top: 30px;">
              <p style="font-size: 20px;color: gray;margin-top: 50px;">02. </p>
              <h2 class="card_title" style="font-size: 23px;">Концепция освещения</h2>
            <p class="card_text" style="margin-top: 50px;">стетически привлекательный светодизайн и комфортные условия для работы и отдыха с учетом характера окружающей среды, а также влияния на эмоции и настроение людей</p>
        </div>
      </div>
    </li>
    <li class="cards_item">
        <div class="card">
          <div class="card_content">
            <hr style="margin-top: 30px;">
              <p style="font-size: 20px;color: gray;margin-top: 50px;">02. </p>
              <h2 class="card_title" style="font-size: 23px;">Концепция освещения</h2>
            <p class="card_text" style="margin-top: 50px;">стетически привлекательный светодизайн и комфортные условия для стетически привлекательный светодизайн и комфортные условия для стетически привлекательный светодизайн и комфортные условия для работы и отдыха с учетом характера окружающей среды, а также влияния на эмоции и настроение людей</p>
        </div>
      </div>
    </li>
    <li class="cards_item" style="height: auto;">
        <div class="card" style="height: auto;">
          <div class="card_content" style="height: auto;">
            <hr style="margin-top: 30px;">
              <p style="font-size: 20px;color: gray;margin-top: 50px;">02. </p>
              <h2 class="card_title" style="font-size: 23px;">Концепция освещения</h2>
            <p class="card_text" style="margin-top: 50px;">стетически привлекательный светодизайн и комфортные условия для работы и отдыха с учетом характера окружающей среды, а также влияния на эмоции и настроение людей</p>
        </div>
      </div>
    </li>
    <li class="cards_item">
        <div class="card">
          <div class="card_content">
            <hr style="margin-top: 30px;">
              <p style="font-size: 20px;color: gray;margin-top: 50px;">02. </p>
              <h2 class="card_title" style="font-size: 23px;">Концепция освещения</h2>
            <p class="card_text" style="margin-top: 50px;">стетически привлекательный светодизайн и комфортные условия для стетически привлекательный светодизайн и комфортные условия для стетически привлекательный светодизайн и комфортные условия для работы и отдыха с учетом характера окружающей среды, а также влияния на эмоции и настроение людей</p>
        </div>
      </div>
    </li>
    <li class="cards_item" style="height: auto;">
        <div class="card" style="height: auto;">
          <div class="card_content" style="height: auto;">
            <hr style="margin-top: 30px;">
              <p style="font-size: 20px;color: gray;margin-top: 50px;">02. </p>
              <h2 class="card_title" style="font-size: 23px;">Концепция освещения</h2>
            <p class="card_text" style="margin-top: 50px;">стетически привлекательный светодизайн и комфортные условия для работы и отдыха с учетом характера окружающей среды, а также влияния на эмоции и настроение людей</p>
        </div>
      </div>
    </li>
    <li class="cards_item">
        <div class="card">
          <div class="card_content">
            <hr style="margin-top: 30px;">
              <p style="font-size: 20px;color: gray;margin-top: 50px;">02. </p>
              <h2 class="card_title" style="font-size: 23px;">Концепция освещения</h2>
            <p class="card_text" style="margin-top: 50px;">стетически привлекательный светодизайн и комфортные условия для стетически привлекательный светодизайн и комфортные условия для стетически привлекательный светодизайн и комфортные условия для работы и отдыха с учетом характера окружающей среды, а также влияния на эмоции и настроение людей</p>
        </div>
      </div>
    </li>
    
    </ul>
  </div>